.CalculatorBody {
    display: flex;
    flex-direction: column;
    width: 323px;
    height: 503px;
    background-color: #ECECEC;
    border: 1px;
    border-style: solid;
}

.CalculatorHeader {
    background: none;
    font-size: 12px;
    font-weight: 400;
    margin-left: 7px;
    margin-top: 7px;
    height: 35px;
}

.CalculatorSubHeader {
    display: flex;
    background: none;
    align-items: center;
    justify-content: space-between;
}

.title-container {
    background: none;
    width: 100%;
}

.title-container p {
    background: none;
    margin-bottom: 7px;
    font-weight: 400;
    font-size: 20px;
    margin-left: 5px;
    margin-bottom: 3px;
}

.calculator-body-down {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 100px;
    padding-left: 2px;
    padding-right: 2px;
    background: none;
}

.divide-icon {
    font-size: 17px;
}

.divide-icon:hover {
    background: none;
}

.delete-icon {
    font-size: 17px;
}

.delete-icon:hover {
    background: none;
}

svg {
    background: none;
}