.navbar {
    background: none;
    height: 30px;
    width: 30px;
}

.menu-bars {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    width: 100%;
    height: 100%;
}

.menu-bars:hover {
    border-style: solid;
}

/*
.nav-menu {
    background-color: none;
    width: 250px;
    height: 430px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 125px;
    left: 227px;
    transition: 850ms;
}

.nav-menu.active {
    background-color: #cacaca;
    left: 480px;
    transition: 350ms;
}
*/