
.nav-bottom {
    background-color: none;
    width: 20%;
    height: 0%;
    position: fixed;
    bottom: 207px;
    transition: height 0.5s;
    overflow: hidden;
}

.nav-bottom.active {
    background-color: none;
    height: 40%;
}