.history {
    background: none;
    height: 45px;
    width: 60px;
}

.history-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: none;
}

.history-icon:hover {
    border: none;
    background-color: rgb(212, 212, 212);
}
