.navbar {
    background: none;
    height: 45px;
    width: 60px;
}

.nav-menu {
    background-color: none;
    width: 0%;
    height: 44%;
    position: fixed;
    transition: width 0.5s;
    overflow: hidden;
}

.nav-menu.active {
    background-color: none;
    width: 255px;
}

.select-login-button {
    width: 50%;
}

.select-signin-button {
    width: 50%;
}

.menu-bars {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    width: 100%;
    height: 100%;
}

.menu-bars:hover {
    border: none;
    background-color: rgb(212, 212, 212);
}

