* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: lightgray; 
}

body {
  height: 610px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
